<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Grinding</title>
</head>
<body>
    <h1>NINJA WHAAAAAAT</h1>
    <p>Gold: <%= gold %></p>
    <div>
        <h2>Farm</h2>
        <form action="/farming/" method="POST">
            <input type="submit" value="Farm!">
        </form>
    </div>
    <div>
        <h2>House</h2>
        <form action="/robbing/" method="POST">
            <input type="submit" value="Rob!">
        </form>
    </div>
    <div>
        <h2>Casino</h2>
        <form action="/gambling/" method="POST">
            <input type="submit" value="Gamble!">
        </form>
    </div>
</body>
</html>