<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Da Wall</title>
</head>
<body>
    <header>
        <h3>DA DOJO WALL</h3>
        <p>Welcome @ViewBag.name!</p>
        <a href="/logoff/"> Log Off Here</a>
    </header>
    <h2>Post a message</h2>
    <form action="/addmessage/" method="post">
    <textarea name="message" cols="30" rows="10"></textarea>
    <input type="submit" value="Post a message">
    </form>
    @{
        if(ViewBag.messages != null)
        {
            foreach(var message in ViewBag.messages)
            {
                <p>@message["message"]</p>
            }
        }
        

    }
</body>
</html>