<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StarWards</title>
</head>
<body>
    <h1>Star Wards: </h1>
    <form action="/process/" method="post">
        <input type="text" name="query">
        <input type="submit" value="Search">
    </form>
    <div>
        <table>
            <tr>
                <td>Name</td>
                <td>Race</td>
                <td>Faction</td>
            </tr>
        </table>
    </div>
</body>
</html>