<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Lookup</title>
</head>
<body>
    <h1>Movie Lookup</h1>
    <form action="/query/" method="post">
        <label>Search for a movie: <input type="text" name="title"></label>
        <input type="submit" value="Submit">
    </form>
    <div>
        <table>
            
            <tr>
                <td></td>
            </tr>
            
        </table>
    </div>
</body>
</html>