/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
div .wrapper{
 width: 970px;
 background-color: gray;
 margin: 20px auto;
}
.redbox{
 height: 150px;
 width: 200px;
 background-color: red;
 display: inline-block;
 margin: 100px;
 
}
.bluebox{
 height: 150px;
 width: 700px;
 background-color: blue;
 display: block;
 margin-left: 20px;
}
.middle{
 height: 300px;
 width: 900px;
 margin-left: 20px;
}
.subcontents{
 height: 200px;
 width: 200px;
 background-color: yellow;
 margin: 25px;
 display: inline-block;
 align-content: center;
}
.bottom{
 height: 150px;
 width: 700px;
 background-color: green;
 padding: 20px;
}
.purple{
 height: 120px;
 width: 120px;
 background-color: purple;
 display: inline-block;
 margin-right: 100px;
 margin-left: 100px;
}