<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    div{
        margin: auto;
        border: white solid 2px;
        margin-bottom:10px;
    }
    .skinny{
        width: 300px;
    }
    #wrapper{
        width: 970px;
        margin: auto;
        border: none;
    }
    body{
        background-color: black;
    }
    h1, h3{
        color:white;
        text-align: center;
    }
    </style>
</head>
<body>
    <div id="wrapper">
        <div class="skinny">
            <h3>The current time is:</h3>
        </div>
        <div>
            <h1>{{date}}</h1>
            <h1>{{time}}</h1>
        </div>
    </div>
</body>
</html>