<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lets Get Lost</title>
</head>
<body>
    <h1>Lost in the Woods</h1>
    <table>
        <th>
            <td>Trail Name</td>
            <td>Trail Length</td>
            <td>Elevation Change</td>
        </th>
        <tr>
        </tr>
    </table>
    <form action="/addtrail/" method="get">
        <input type="submit" value="Add a new Trail">
    </form>
</body>
</html>