<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/site.css"/>
    <title>Portfolio</title>
</head>
<body>
    <div class="navbar">
        <form action="/projects/" method="POST">
        <input name="projects" value="Projects" type="submit">
        </form>
        <form action="/contact/" method="POST">
        <input name="contact" value="Contact" type="submit">
        </form>
        <form action="/home/" method="POST">
        <input name="home" value="Home page" type="submit">
        </form>
    </div>
    <h1>My portfolio</h1>
</body>
</html>