<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USERY IS ILLEGAL</title>
</head>
<body>
    <h1>We don made it</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created at</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Jimmy Jun</td>
            <td>JJ@Jmail.com</td>
            <td>2017</td>
            <td><a href="/show">Show</a></td>
        </tr>
    </table>
    <a href="/add">Add a new user</a>
</body>
</html>