<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rando</title>
</head>
<body>
    <h2>RAndom passcode (passcode #@ViewBag.track)</h2>
    <h1>@ViewBag.ran</h1>
    <form action"/" method="post">
        <input type="submit" value="Reset">
    </form>
</body>
</html>