<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log Reg</title>
</head>
<body>
    
    <h1>Register</h1>
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    <form action="process/reg" method="post">
        {% csrf_token %}
        {{Reg}}
        <input type="submit" value="Register">
    </form>

    <h1>Login</h1>
    <form action="process/log" method="post">
        {% csrf_token %}
        {{Log}}
        <input type="submit" value="Login">
    </form>
</body>
</html>