<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SUCCESS</title>
</head>
<body>
    <h1>SUCCESS! WELCOme, {{request.session.fname}}</h1>
    {% if request.session.path == "Log path" %}
    <h3>You successfully logged in</h3>
    {% endif %}
    {% if request.session.path == "Reg path" %}
    <h3>You successfully registered</h3>
    {% endif %}
</body>
</html>