<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/site.css"/>
    <title>Dojo Survey</title>
</head>
<body>
    <div>
        <form action="/result/" method="post">
        <label>Name:<input type="text" name="name"></label>
        <label>Dojo Location:<select name="location">
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
        </select></label>
        <label>Favorite Language:<select name="language">
            <option value="Python">Python</option>
            <option value="C#">C#</option>
        </select></label>
        <label>Comment:<textarea name="comment"></textarea></label>
        <input type="submit" value="Lets Go!">
        </form>
    </div>
</body>
</html>